body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.form-row #claim-year, .form-row #create-claim-year {
  width: 50px;
}

.my-address {
  color: #AAA;
  margin-top: 20px;
}

#btn-check-claim {
  width: 30%;
  height: 50px;
}

#btn-create-claim {
  width: 30%;
  height: 50px;
}

.form-row {
  padding: 10px;
}
